Get the string from the user that should have the mixed values of string and numbers then count how many strings arer present and count integer from that string

In [1]:
string1=input("Enter the string:")

def func():
    count_int=0
    count_str=0
    for i in string1:
        if(i.isdigit()) :
            count_int += 1
        elif (i.isalpha()):
            count_str += 1
        else:
            print("None")
    print(count_int)
    print(count_str)

In [2]:
func()

0
8

a=[10,12,13,'A','B','C'] Add 20 to the integers in the list and the expected output is [55,'ABC']

In [3]:
a=[10,12,13,'A','B','C']

In [4]:

def func():
    n=20
    s=""
    lst=[]
    for i in a:
        if(type(i)==int):
            n += i
        elif(type(i)==str):
            s += i
        else:
            print("None")
    lst.append(n)
    lst.append(s)
    print(lst)

In [5]:
func()

[55, 'ABC']

n=[12,75,150,180,145,525,50]
1) %5
2) Skip the values greater than 150
3) Stop the value>500

In [6]:
n=[12,75,150,180,145,525,50]
lst=[]
for i in n:
     if(i>500):
        break
     if(i%5==0):
        if(i<=150):
            lst.append(i)
print(lst)

[75, 150, 145]

In [7]:
n=[12,75,150,180,145,525,50]
lst=[]
for i in n:
    if i>500:
        break
    elif i%5==0 and i<=150:
        lst.append(i)
print(lst)

[75, 150, 145]

In [8]:
lst=[10,20,30,40,50]
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

50
40
30
20
10

In [9]:
str1=input("Enter the string:")
str2=""
for i in str1:
    str2=i+str2
if(str1==str2):
    print("Is Palindrome")
else:
    print("Is Not A Palindrome")

Is Not A Palindrome

In [10]:
pwd=input("Enter the password:")
for i in pwd:
    if (len(pwd)==10):
        pass
    else:

SyntaxError: incomplete input (1638574132.py, line 6)

LIST

In [ ]:
lst=["Swetha","Sri","Swe","Seenu","Gati"]

In [ ]:
print(lst)

['Swetha', 'Sri', 'Swe', 'Seenu', 'Gati']

In [ ]:
lst.index("Swe")

2

In [ ]:
lst[2:3]

['Swe']

In [ ]:
for i in lst:
    print(i)

Swetha
Sri
Swe
Seenu
Gati

In [ ]:
lst.insert(2,"Gayathri")
print(lst)

['Swetha', 'Sri', 'Gayathri', 'Gayathri', 'Gayathri', 'Swe', 'Seenu', 'Gati']

In [ ]:
lst1=[5,6,7,8,9]
lst2=[1,2,3,4,5]
lst1.append(lst2)
print(lst1)

[5, 6, 7, 8, 9, [1, 2, 3, 4, 5]]

In [ ]:
print(lst1[5][2])

3

In [ ]:
tup1=(1,2,3)
lst=[1,2,3,4]
lst.append(tup1)
print(lst)
lst.pop()
print(lst)

[1, 2, 3, 4, (1, 2, 3)]
[1, 2, 3, 4]

In [ ]:
lst[::-1]

[4, 3, 2, 1]

In [ ]:
lst2=[]
for i in range(len(lst)-1,-1,-1):
    lst2.append(lst[i])
print(lst2)

[4, 3, 2, 1]

In [ ]:
lst=[1,2,3,4,5]
lst2=[]
for i in lst:
    lst2=[i]+lst2
print(lst2)

[5, 4, 3, 2, 1]

In [ ]:
lst=["python","java","angular"]
for i in lst:
    lst2=i.upper()
    lst3=i.capitalize()
    lst4=i.title()
    print(lst2)
    print(lst3)
    print(lst4)

PYTHON
Python
Python
JAVA
Java
Java
ANGULAR
Angular
Angular

In [ ]:
lst.clear()
print(lst)

[]

In [ ]:
tup1=(1,2,3)
tup2=(4,5,6)
tup3=(7,8,9)
tup4=()
tup4+=tup1,tup2,tup3
print(tup4)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
print(tup4[1][1])

5

In [ ]:
tup=list(tup4)
print(tup)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
tup.insert(1,(10,11,12))
print(tup)

[(1, 2, 3), (10, 11, 12), (4, 5, 6), (7, 8, 9)]

In [ ]:
tuple(tup)

((1, 2, 3), (10, 11, 12), (4, 5, 6), (7, 8, 9))

In [ ]:
tup6=(7,)
print(tup6)

(7,)

In [ ]:
fruits={"apple":5,"orange":6,"mango":8}
print(fruits.get("orange"))

6

In [ ]:
print(fruits.items())
print(fruits.keys())
print(fruits.values())

dict_items([('apple', 5), ('orange', 6), ('mango', 8)])
dict_keys(['apple', 'orange', 'mango'])
dict_values([5, 6, 8])

In [ ]:
names=["A","B","C"]
cities=["Chennai","Bangalore","Delhi"]
details=dict()
details.fromkeys(names)

{'A': None, 'B': None, 'C': None}

In [ ]:
details.update({"A":cities[0]})
details.update({"B":cities[1]})
details.update({"C":cities[2]})

In [ ]:
details

{'A': 'Chennai', 'B': 'Bangalore', 'C': 'Delhi'}

In [ ]:
dict(zip(names,cities))

{'A': 'Chennai', 'B': 'Bangalore', 'C': 'Delhi'}

In [ ]:
names=["A","B","C"]
cities=["Chennai","Bangalore","Delhi"]
detail1=dict()
for i in names:
    detail1[i]=i
    for j in cities:
        detail1.update({i:j})
print(detail1)

{'A': 'Delhi', 'B': 'Delhi', 'C': 'Delhi'}

In [ ]:
set1={"A","B",True,1,100}
set2={"C",False,1,"B",150}

In [ ]:
set1|set2

{100, 150, 'A', 'B', 'C', False, True}

In [ ]:
set1.union(set2)

{100, 150, 'A', 'B', 'C', False, True}

In [ ]:
set1.intersection(set2)

{'B', True}

In [ ]:
set1.difference(set2)

{100, 'A'}

In [ ]:
set1.symmetric_difference(set2)

{100, 150, 'A', 'C', False}

In [15]:
demo=frozenset({1,2,3,4,"Swe","Sri"})
demo1=frozenset({4,5,6,7,"Seenu"})

In [16]:
demo.union(demo1)

frozenset({1, 2, 3, 4, 5, 6, 7, 'Seenu', 'Sri', 'Swe'})

In [17]:
demo.intersection(demo1)

frozenset({4})

In [18]:
demo.difference(demo1)

frozenset({1, 2, 3, 'Sri', 'Swe'})

In [19]:
demo.symmetric_difference(demo1)

frozenset({1, 2, 3, 5, 6, 7, 'Seenu', 'Sri', 'Swe'})

In [20]:
set1={"C",False,1,"B",150}

In [21]:
set1.update(["Thanks",50])

In [22]:
set1

{1, 150, 50, 'B', 'C', False, 'Thanks'}

In [23]:
set1.remove("Thanks")

In [24]:
set1

{1, 150, 50, 'B', 'C', False}

In [25]:
set1.discard("Thanks")

In [26]:
set1

{1, 150, 50, 'B', 'C', False}

In [27]:
set1.remove("Thanks")

KeyError: 'Thanks'

I/P:"abbcccdddd"
O/P:1a2b3c4d and vice versa

In [40]:
str1="abbcccdddd"
a_count=0
b_count=0
c_count=0
d_count=0
for i in str1:
    if (i=="a"):
        a_count+=1
    elif (i=="b"):
        b_count+=1
    elif (i=="c"):
        c_count+=1
    elif(i=="d"):
        d_count+=1
    else:
        print("None")
                    
print(a_count,"a",b_count,"b",c_count,"c",d_count,"d")

1 a 2 b 3 c 4 d